<h1><strong>Valour Salon</strong></h1>
<h2>Welcome to the Valour Hair Salon</h2>

<div class="container">
  <a href="/stylists">Our Stylists</a>
  <a href="/stylists/new">Hire new stylists</a>
</div>
