<h1>Valour Salon</h1>

  <p>Hire a new stylist:</p>

  <form action="/stylists" method="post">
    <label for="name">Stylist's name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add stylist</button>
  </form>
